.title {
    color: aliceblue;
}

.header {
    background-image: url(img/pattern.png);
    height: 100px;
    background-color: #4EA0FF;
}

.author {
    font-size: 14.4px;
    color: #808080;
    
}

.author a {
    color: #20A9E5; 
    text-decoration: none;
}

.images {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.images img {
    width: 50%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #20A9E5; 
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #B1E5F2;
}

.related-title {
    font-weight: bold;
    margin-top: 20px;
    color: #808080;
}

.related-h2{
    color: #808080;
    background-image: url(img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
}
.related-h3{
    color: #808080;
    height: 200px;
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
}

